@font-face {
    font-family: 'Academy Engraved LET';
    src: url('../../fonts/Academy-Engraved/AcademyEngravedLetPlain.eot');
    src: url('../../fonts/Academy-Engraved/AcademyEngravedLetPlain.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Academy-Engraved/AcademyEngravedLetPlain.woff2') format('woff2'),
        url('../../fonts/Academy-Engraved/AcademyEngravedLetPlain.woff') format('woff'),
        url('../../fonts/Academy-Engraved/AcademyEngravedLetPlain.ttf') format('truetype'),
        url('../../fonts/Academy-Engraved/AcademyEngravedLetPlain.svg#AcademyEngravedLetPlain') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Apparat';
    src: url('../../fonts/Apparat/Apparat-Bold.eot');
    src: url('../../fonts/Apparat/Apparat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Apparat/Apparat-Bold.woff2') format('woff2'),
        url('../../fonts/Apparat/Apparat-Bold.woff') format('woff'),
        url('../../fonts/Apparat/Apparat-Bold.ttf') format('truetype'),
        url('../../fonts/Apparat/Apparat-Bold.svg#Apparat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apparat';
    src: url('../../fonts/Apparat/Apparat-Medium.eot');
    src: url('../../fonts/Apparat/Apparat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Apparat/Apparat-Medium.woff2') format('woff2'),
        url('../../fonts/Apparat/Apparat-Medium.woff') format('woff'),
        url('../../fonts/Apparat/Apparat-Medium.ttf') format('truetype'),
        url('../../fonts/Apparat/Apparat-Medium.svg#Apparat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apparat';
    src: url('../../fonts/Apparat/Apparat-BlackItalic.eot');
    src: url('../../fonts/Apparat/Apparat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Apparat/Apparat-BlackItalic.woff2') format('woff2'),
        url('../../fonts/Apparat/Apparat-BlackItalic.woff') format('woff'),
        url('../../fonts/Apparat/Apparat-BlackItalic.ttf') format('truetype'),
        url('../../fonts/Apparat/Apparat-BlackItalic.svg#Apparat-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apparat';
    src: url('../../fonts/Apparat/Apparat-Light.eot');
    src: url('../../fonts/Apparat/Apparat-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Apparat/Apparat-Light.woff2') format('woff2'),
        url('../../fonts/Apparat/Apparat-Light.woff') format('woff'),
        url('../../fonts/Apparat/Apparat-Light.ttf') format('truetype'),
        url('../../fonts/Apparat/Apparat-Light.svg#Apparat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apparat';
    src: url('../../fonts/Apparat/Apparat-Black.eot');
    src: url('../../fonts/Apparat/Apparat-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Apparat/Apparat-Black.woff2') format('woff2'),
        url('../../fonts/Apparat/Apparat-Black.woff') format('woff'),
        url('../../fonts/Apparat/Apparat-Black.ttf') format('truetype'),
        url('../../fonts/Apparat/Apparat-Black.svg#Apparat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apparat';
    src: url('../../fonts/Apparat/Apparat-BoldItalic.eot');
    src: url('../../fonts/Apparat/Apparat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Apparat/Apparat-BoldItalic.woff2') format('woff2'),
        url('../../fonts/Apparat/Apparat-BoldItalic.woff') format('woff'),
        url('../../fonts/Apparat/Apparat-BoldItalic.ttf') format('truetype'),
        url('../../fonts/Apparat/Apparat-BoldItalic.svg#Apparat-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apparat';
    src: url('../../fonts/Apparat/Apparat-Regular.eot');
    src: url('../../fonts/Apparat/Apparat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Apparat/Apparat-Regular.woff2') format('woff2'),
        url('../../fonts/Apparat/Apparat-Regular.woff') format('woff'),
        url('../../fonts/Apparat/Apparat-Regular.ttf') format('truetype'),
        url('../../fonts/Apparat/Apparat-Regular.svg#Apparat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apparat';
    src: url('../../fonts/Apparat/Apparat-Semibold.eot');
    src: url('../../fonts/Apparat/Apparat-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Apparat/Apparat-Semibold.woff2') format('woff2'),
        url('../../fonts/Apparat/Apparat-Semibold.woff') format('woff'),
        url('../../fonts/Apparat/Apparat-Semibold.ttf') format('truetype'),
        url('../../fonts/Apparat/Apparat-Semibold.svg#Apparat-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}