<!DOCTYPE html>
<html lang="en">

{% include "admin/partials/header.html" %}
<style>
  input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}</style>
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include "admin/partials/_navbar.html" %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      {% include "admin/partials/_settings-panel.html" %}
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      {% include "admin/partials/_sidebar.html" %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Изменение мероприятия</h4>
                  <p class="card-description">
                    Заполните форму и нажмите на изменить
                  </p>
                  {% if event %}
                  <form class="forms-sample" action="{{ url_for('admin_events_edit', event_id=event[0]) }}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="eventName">Название мероприятия<code>*</code></label>
                      <input type="text" class="form-control" name="eventName" id="eventName" placeholder="Игра" value="{{event[1]}}" required>
                    </div>
                    <div class="form-group">
                      <label for="eventDescription">Описание<code>*</code></label>
                      <input type="text" class="form-control" name="eventDescription" id="eventDescription" placeholder="Описание" value="{{event[2]}}" required>
                    </div>
                    <div class="form-group">
                      <label for="eventDate">Дата<code>*</code></label>
                      <input type="datetime-local" id="eventDate" name="eventDate" placeholder="Дата" class="form-control" value="{{event[3]}}" required>
                    </div>
                    <div class="form-group">
                      <label for="eventCost">Стоимость <code>*</code></label>
                      <input class="form-control" min="0" max="1000000" type="number" value="{{event[4]}}" id="eventCost" name="eventCost" required>
                    </div>
                    <div class="form-group">
                      <label for="eventCity">Город<code>*</code></label><br>
                        <select class="form-select" id="eventCity" name="eventCity" required>
                          {% if cities %}
                          <option value="not">Выберите город</option>
                          <option value="{{event[5]}}" selected>{{event[6]}}</option>
                            {% for city in cities %}
                              {% if city[0] != event[5] %}
                                <option value="{{ city[0] }}">{{ city[1] }}</option>
                              {% endif %}
                            {% endfor %}
                          {% else %}
                          <option value="notfound" selected>Города не найдены</option>
                          {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="eventLocation">Локация<code>*</code></label>
                      <input type="text" class="form-control" name="eventLocation" id="eventLocation" placeholder="Локация" value="{{event[7]}}" required>
                    </div>
                    <div class="form-group">
                      {% if event[8] == 0 %}
                        <input class="form-check-input" type="checkbox" name="published" id="published">
                        <label class="form-check-label" for="published">
                          Опубликована афиша на главной странице
                        </label>
                      {% else %}
                        <input class="form-check-input" type="checkbox" name="published" id="publishedChecked" checked>
                        <label class="form-check-label" for="publishedChecked">
                            Опубликована афиша на главной странице
                        </label>
                      {% endif %}
                    </div>
                    <div class="form-group">
                      <label for="reserveLink">Номер для брони<code>*</code></label>
                      <input type="text" class="form-control" name="reserveLink" id="reserveLink" placeholder="+77056669292" value="{{ event[9] }}" required>
                    </div>
                    <div class="form-group">
                      <img src="data:image/png;base64,{{ event[10] }}" width="150" height="150">
                    </div>
                    <div class="form-group">
                      <label for="fileupload">Загрузите заставку<code>*</code></label>
                      <input type="file" name="fileupload" id="fileupload" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Изменить</button>
                    <a class="btn btn-light" href="{{ url_for('admin_games') }}">Назад</a>
                  </form>
                  {% endif %}
                </div>
                <div class="card-footer">
                  <code>*</code>Если указать в стоимости 0, то данное мероприятие будет отображаться как бесплатное.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {% include "admin/partials/_footer.html" %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</body>

</html>
