<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_dashboard') }}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Главная</span>
            </a>
          </li>
          <li class="nav-item nav-category">Функции</li>
          {% if current_user.superadmin %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_cities') }}">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Города</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_catalog') }}">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Каталог</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_gametypes') }}">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Типы игр</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
          {% endif %}
          {% if current_user.city_superadmin or current_user.superadmin %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_seasons') }}">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Сезоны</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_games') }}">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Игры</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_teamsingame') }}">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Команды в игре</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_rounds') }}">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Раунды</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_teams') }}">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Команды</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_events') }}">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">Мероприятия</span>
              <i class="menu-arrow"></i>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_photos') }}">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Фотоотчеты</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
            {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_tables') }}">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">Таблица игр</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
        </ul>
      </nav>