<!doctype html>
<html lang="ru">
  <head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/events.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/photo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/contacts.css') }}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Meloman Quiz</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/front/diskOption1.png') }}">
  </head>

  <body>

    <div class="intro">
      <header class="header">
        <div class="city-selector" type="button" data-bs-toggle="modal" data-bs-target="#cityModal">
          <img src="{{ url_for('static', filename='/images/front/location.png') }}">
          <h2 id="cityHeader">Город</h2>
          <div class="modal fade" id="cityModal" tabindex="-1" aria-labelledby="cityModalLabel" aria-hidden="true">
              <input type="hidden" id="currentPage" value="contacts">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="cityModalLabel">Выберите город</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                  <!-- Здесь вы можете добавить форму или список городов для выбора -->
                  <ul>
                    <li><a href="#" onclick="selectCity('Астана')">Астана</a></li>
                    <li><a href="#" onclick="selectCity('Петропавловск')">Петропавловск</a></li>
                    <!-- Добавьте свои города здесь -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="index.html">
            <img src="{{ url_for('static', filename='/images/front/logo-2.png') }}" alt="" class="logo-header">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-auto" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link"  href="index">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shedule">Расписание</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="photos">Фотоотчёты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="events">Мероприятия</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="table">Таблица</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shop">Каталог</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="contacts">Контакты </a>
              </li>
            </ul>
          </div>
      </nav>
      </header>
      <div class="title">
        <h1>MELOMAN QUIZ</h1>
      </div>
    </div>
    <h2>Контакты</h2>

    <div class="social-networks-container container">
        <a href="https://instagram.com/meloman_quiz_astana?igshid=MWZjMTM2ODFkZg=="><img src="{{ url_for('static', filename='/images/front/big-insta.png') }}"></a>
        <a href="https://www.tiktok.com/@meloman_quiz_astana?_t=8fCOLRlSvwc&_r=1"><img src="{{ url_for('static', filename='/images/front/big-tik-tok.png') }}"></a>
        <a href="https://youtube.com/@meloman_quiz_astana?si=Ep-C_JwnjjTW7qB1"><img src="{{ url_for('static', filename='/images/front/big-youtube.png') }}"></a>
    </div>

    <div class="administration-container container">
        <div class="administration">
            <h3>Администрация:</h3>
            <div class="administrator">
                <div class="admin-rectangle-bg">
                    <div class="admin-photo">
                        <img src="{{ url_for('static', filename='images/front/my-photo.png') }}">
                    </div>
                    <div class="admin-name">
                        <h4>Самолюк Надежда Ивановна</h4>
                        <div class="admin-numbers">
                            <div class="number-container">
                                <h5>+7-775-560-33-83</h5>
                            </div>
                            <div class="contact-img">
                                <a href="https://wa.me/77755603383"><img src="{{ url_for('static', filename='images/front/big-whats-app.png') }}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects">
            <h3>Наши проекты:</h3>
            <div class="project">
                <div class="project-rectangle-bg">
                    <img src="{{ url_for('static', filename='images/front/garage.png') }}">
                </div>
            </div>
        </div>
    </div>


    <footer id="nav-footer" class="page-footer">
        <div class="footer-container">
          <div class="logo-footer">
            <a href="#"><img src="{{ url_for('static', filename='/images/front/logo-footer.png') }}" class="logo-footer"></a>
          </div>
          <div class="socials">
            <a href="https://instagram.com/meloman_quiz_astana?igshid=MWZjMTM2ODFkZg=="><img src="{{ url_for('static', filename='/images/front/Instagram.png') }}" class="instagram-footer"></a>
            <a href="https://www.tiktok.com/@meloman_quiz_astana?_t=8fCOLRlSvwc&_r=1"><img src="{{ url_for('static', filename='/images/front/tik-tok.png') }}" class="tik-tok-footer"></a>
            <a href="https://youtube.com/@meloman_quiz_astana?si=Ep-C_JwnjjTW7qB1"><img src="{{ url_for('static', filename='/images/front/youtube.png') }}" class="youtube-footer"></a>
          </div>
          <div class="numbers">
            <a href="tel:+7 775 560 3383"><h5>+7 775 560 3383</h5></a>
          </div>
        </div>
      </footer>
  
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='/js/city-selector.js') }}"></script>
      </body>
  </html>