<!DOCTYPE html>
<html lang="en">

{% include "admin/partials/header.html" %}
<style>
  input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}</style>
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include "admin/partials/_navbar.html" %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      {% include "admin/partials/_settings-panel.html" %}
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      {% include "admin/partials/_sidebar.html" %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <form action="{{ url_for('admin_tables_show', game_id=game_id) }}" method="POST">
                <div class="card-header" style="text-align: right;">
                    <a class="btn btn-success" href="{{ url_for('admin_pptx_export', game_id=game_id) }}">Экспортировать в pptx</a>
                </div>
                  <div class="card-body">
                    <h4 class="card-title">Таблица игры</h4>
                    <p class="card-description">
                      Введите в каждое поле количество очков и нажмите на сохранить</a>
                    </p>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                          </div>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                      <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>
                                  Команды
                                </th>
                                {% if rounds %}
                                  {% for round in rounds %}
                                      <th>
                                        Раунд {{ round[1] }}
                                      </th>
                                  {% endfor %}
                                      <th>
                                        Итог
                                      </th>
                                {% else %}
                                  <th>
                                      Нет раундов
                                  </th>
                                {% endif %}
                              </tr>
                            </thead>
                            <tbody>
                            {% for key, value in scoresDictionary.items() %}
                                <tr>
                                    <td>
                                    {{ key }}
                                    </td>
                                    {% if value['total'] != None %}
                                        {% for round in rounds %}
                                            {% for item in value['items'] %}
                                                {% if round[0] == item[0] %}
                                                    <td>
                                                      <input style="border: none;" min="0" max="100" type="number" name="{{ round[0] }}/{{ item[2] }}" value="{{ item[3] }}">
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        <td>
                                            {{ value['total'] }}
                                        </td>
                                    {% else %}
                                        {% for round in rounds %}
                                            <td>
                                              <input style="border: none;" min="0" max="100" type="number" name="{{ round[0] }}/{{ value['id'] }}" value="">
                                            </td>
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="card-footer">
                      <div class="text-center">
                    <button type="submit" class="btn btn-primary me-2">Сохранить</button>
                    <a class="btn btn-light" href="{{ url_for('admin_tables') }}">Назад</a>
                  </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {% include "admin/partials/_footer.html" %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</body>

</html>
