<!DOCTYPE html>
<html lang="en">

{% include "admin/partials/header.html" %}
<script>
    function toggle(source) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include "admin/partials/_navbar.html" %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      {% include "admin/partials/_settings-panel.html" %}
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      {% include "admin/partials/_sidebar.html" %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-header">
                    <div class="input-group rounded">
                      <input type="search" class="form-control rounded search-input" placeholder="Поиск команды" aria-label="Search" aria-describedby="search-addon" />
                      <span class="input-group-text border-0" id="search-addon">
                        <i class="icon-search"></i>
                      </span>
                    </div>
                </div>
                <form action="{{ url_for('admin_teamsingame_show', game_id=game_id) }}" method="POST">
                  <div class="card-body">
                  <h4 class="card-title">Команды в игре</h4>
                  <p class="card-description">
                    Выберите команду и нажмите на сохранить
                  </p>
                  {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                              {{ message }}
                        </div>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  {% endwith %}
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>
                            Название команды
                          </th>
                          <th>
                            Статус <input type="checkbox" style="margin-left: 5px;border: none;" onclick="toggle(this);"></input>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for team in teams %}
                          <tr class="team-row">
                            <td class="team-name">
                                {{ team[1] }}
                            </td>
                            <td>
                                {% if team[2] %}
                                    <input style="border: none;" type="checkbox" name="{{ game_id }}/{{ team[0] }}" checked>
                                {% else %}
                                    <input style="border: none;" type="checkbox" name="{{ game_id }}/{{ team[0] }}">
                                {% endif %}
                            </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary me-2">Сохранить</button>
                    <a class="btn btn-light" href="{{ url_for('admin_teamsingame') }}">Назад</a>
                  </div>
              </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {% include "admin/partials/_footer.html" %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const searchInput = document.querySelector(".search-input");
    const teams = document.querySelectorAll(".team-row"); // Добавьте класс "team-row" к строкам таблицы с командами

    searchInput.addEventListener("input", function() {
            const searchTerm = searchInput.value.toLowerCase().trim();

            teams.forEach(function(team) {
                const teamName = team.querySelector(".team-name").textContent.toLowerCase();
                if (teamName.includes(searchTerm)) {
                    team.style.display = "table-row";
                } else {
                    team.style.display = "none";
                }
            });
        });
    });
</script>
</html>
