<!doctype html>
<html lang="ru">
  <head>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TJ8F41HRV"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-9TJ8F41HRV');
        </script>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="robots" content="index, contacts, events, photos, shedule, shop, table" />
      <meta name="keywords" content="Первый Музыкальный Квиз, Казахстан, интеллектуальная игра, музыкальные знания, мероприятия в Астане, Караганде, Петропавловске, музыкальные ивенты, events, праздник" />
      <meta name="description" content="Самые незабываемые и яркие мероприятия, которые организовывает Meloman Quiz, для Вашего отдыха и расширения своих музыкальных познаний" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/events.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/photo.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/front/preloader.css') }}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Мероприятия</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/front/diskOption1.ico') }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/front/diskOption1.ico') }}">
            <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(94822469, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
        </script>
  </head>

  <body>
    <div class="preloader">
        <img src="{{ url_for('static', filename="images/front/music_record.webp") }}" class="preloader__image">
    </div>

    <div class="intro">
      <header class="header">
        <div class="city-selector" type="button" data-bs-toggle="modal" data-bs-target="#cityModal">
          <img src="{{ url_for('static', filename='images/front/location.webp') }}">
          <h2 id="cityHeader">Город</h2>
          <div class="modal fade" id="cityModal" tabindex="-1" aria-labelledby="cityModalLabel" aria-hidden="true">
              <input type="hidden" id="currentPage" value="events">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="cityModalLabel">Выберите город</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                  <!-- Здесь вы можете добавить форму или список городов для выбора -->
                  <ul>
                    {% for i in range(cityNames|length) %}
                            <li><a href="#" onclick="selectCity('{{ cityNames[i] }}')">{{ cityNames[i] }}</a></li>
                        {% endfor %}
                    <!-- Добавьте свои города здесь -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="index.html">
            <img src="{{ url_for('static', filename='images/front/logo-2.webp') }}" alt="" class="logo-header">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-auto" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link"  href="index{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shedule{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Расписание</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="photos{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Фотоотчёты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="events{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Мероприятия</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="table{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Таблица</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shop{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Каталог</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacts{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Контакты </a>
              </li>
            </ul>
          </div>
      </nav>
      </header>
      <div class="title">
        <h1>MELOMAN QUIZ</h1>
      </div>
    </div>
    <h2>Мероприятия</h2>
    <div class="container d-flex flex-wrap">
        {% for i in range(all_events|length) %}
        <div class="card-container">
            <div class="rectangle">
                {{ all_events[i][3].strftime('%d.%m.%Y') }}
            </div>
            <div class="card">
                <img class="card-img-top" src="data:image/jpeg;base64,{{ all_events[i][9] | safe }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ all_events[i][1] }}</h5>
                    <div class="location-event">
                        <p>МЕСТО : {{ all_events[i][6] }}</p>
                    </div>
                    <div class="time-event">
                        <p>ВРЕМЯ : {{ all_events[i][3].strftime('%H:%M') }}</p>
                    </div>
                    <div class="price-event">
                        <p>ЦЕНА : {% if all_events[i][4] != 0 %}{{  all_events[i][4] }} ТГ{% else %}БЕСПЛАТНО{% endif %}</p>
                    </div>
                    <p>{{ all_events[i][2] }}</p>
                    <a href="https://wa.me/{{ all_events[i][8][1:] }}?text=Здравствуйте! Я хотел бы узнать подробнее про {{ all_events[i][1] }}" class="btn btn-primary show-btn">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <footer id="nav-footer" class="page-footer">
      <div class="footer-container">
        <div class="logo-footer">
          <a href="#"><img src="{{ url_for('static', filename='images/front/logo-footer.webp') }}" class="logo-footer"></a>
        </div>
        <div class="socials">
          <a href="https://instagram.com/meloman_quiz_astana?igshid=MWZjMTM2ODFkZg=="><img src="{{ url_for('static', filename='images/front/Instagram.webp') }}" class="instagram-footer"></a>
          <a href="https://www.tiktok.com/@meloman_quiz_astana?_t=8fCOLRlSvwc&_r=1"><img src="{{ url_for('static', filename='images/front/tik-tok.webp') }}" class="tik-tok-footer"></a>
          <a href="https://youtube.com/@meloman_quiz_astana?si=Ep-C_JwnjjTW7qB1"><img src="{{ url_for('static', filename='images/front/youtube.webp') }}" class="youtube-footer"></a>
            <a href="https://t.me/melomanquizastana"><img src="{{ url_for('static', filename='images/front/telegram.webp') }}"> </a>
        </div>
        <div class="numbers">
          <a href="tel:+7 775 560 3383"><h5>+7 775 560 3383</h5></a>
        </div>
      </div>
    </footer>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='js/city-selector.js') }}"></script>
  <script>
    window.onload = function () {
        document.body.classList.add('loaded_hiding');
        window.setTimeout(function () {
            document.body.classList.add('loaded');
            document.body.classList.remove('loaded_hiding');
        }, 500);
    }
    </script>
    </body>
</html>