<!doctype html>
<html lang="ru">
  <head>
        <!-- Обязательные метатеги -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="preload" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></noscript>
        <!-- CSS Подгружаем после загрузки страницы -->
      <link rel="preload" href="{{ url_for('static', filename='css/front/style.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/front/style.css') }}"></noscript>
      <link rel="preload" href="{{ url_for('static', filename='css/front/lite-yt-embed.css') }}"  as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/front/lite-yt-embed.css') }}"></noscript>
      <script src="{{ url_for('static', filename='js/lite-yt-embed.js') }}" async></script>
    <!-- Fonts -->

      <link rel="shortcut icon" href="{{ url_for('static', filename='images/front/diskOption1.ico') }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/front/diskOption1.ico') }}">
      <title>Meloman Quiz</title>

      <style type="text/css">
          .preloader {
              position: fixed;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              overflow: hidden;
              /* фоновый цвет */
              background: #130426;
              z-index: 1001;
            }

            .preloader__image {
              position: relative;
              top: 50%;
              left: 50%;
              width: 150px;
              height: 150px;
              margin-top: -75px;
              margin-left: -75px;
              text-align: center;
              animation: preloader-rotate 2s infinite linear;
            }

            @keyframes preloader-rotate {
              100% {
                transform: rotate(360deg);
              }
            }

            .loaded_hiding .preloader {
              transition: 0.3s opacity;
              opacity: 0;
            }

            .loaded .preloader {
              display: none;
            }
      </style>
  </head>

  <body>
    <div class="preloader">
        <img src="{{ url_for('static', filename="images/front/music_record.webp") }}" class="preloader__image">
    </div>
    <div class="intro">
      <header class="header">
        <div class="city-selector" type="button" data-bs-toggle="modal" data-bs-target="#cityModal">
          <img src="{{ url_for('static', filename='images/front/location.webp') }}">
          <h2 id="cityHeader">Город</h2>
          <div class="modal fade" id="cityModal" tabindex="-1" aria-labelledby="cityModalLabel" aria-hidden="true">
            <input type="hidden" id="currentPage" value="index">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="cityModalLabel">Выберите город</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                  <!-- Здесь вы можете добавить форму или список городов для выбора -->
                  <ul>
                    {% for i in range(cityNames|length) %}
                      <li><a href="#" onclick="selectCity('{{ cityNames[i] }}')">{{ cityNames[i] }}</a></li>
                    {% endfor %}
                    <!-- Добавьте свои города здесь -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
          <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="index.html">
                  <img src="{{ url_for('static', filename='images/front/logo-2.webp') }}" alt="" class="logo-header">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ms-auto" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="index{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Главная</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="shedule{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Расписание</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="photos{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Фотоотчёты</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="events{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Мероприятия</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="table{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Таблица</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="shop{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Каталог</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contacts{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Контакты </a>
                    </li>
                  </ul>
                </div>
            </nav>
      </header>
      <div class="title">
        <h1>MELOMAN QUIZ</h1>
      </div>
      <div class="reg_btn">
          {%  if next_games is defined %}
            <a href="https://wa.me/{{ next_games[0][3] }}?text=Здравствуйте! Я хотел бы записаться на ближайшую игру."><button type="button" class="btn btn-outline-light">Зарегистрироваться на игру</button></a>
          {% else %}
            <a href="https://wa.me/77755603383?text=Здравствуйте! Я хотел бы записаться на ближайшую игру в Астане"><button type="button" class="btn btn-outline-light">Зарегистрироваться на игру</button></a>
          {% endif %}
      </div>
      <div class="music_record">
        <img src="{{ url_for('static', filename='images/front/music_record.webp') }}" draggable="false">
      </div>
    </div>
    <div class="container">
      <h2>БЛИЖАЙШИЕ ИГРЫ</h2>
      <div class="next_games">
        {% for i in range(next_games|length) %}
        <div class="next-game-block">
          <h1 class="game_name">{{ next_games[i][0] }}</h1>
          <div class="date">
            <img src="{{ url_for('static', filename='images/front/calendar.webp') }}">
            <p>ДАТА :  {{ next_games[i][1].strftime('%d.%m.%Y %H:%M') }}</p>
          </div>
          <div class="location">
            <img src="{{ url_for('static', filename='images/front/home.webp') }}">
            <p>МЕСТО : {{ next_games[i][2] }}</p>
          </div>
          <div class="entry">
            <p>ЗАПИСЬ:</p>
            <a href="http://wa.me/{{ next_games[i][3] }}?text=Здравствуйте, я хотел бы записаться на игру {{ next_games[i][0] }}, которая будет проходить {{ next_games[i][1].strftime('%d.%m.%Y %H:%M') }}. Количество человек: "><p class="state">ОТКРЫТА</p></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="shedule-btn">
      <a href="shedule{% if selected_city != '' %}?selectedCity={{ selected_city }}{% endif %}"><button type="button" class="btn btn-outline-light shedule-btn">РАСПИСАНИЕ ИГР</button></a>
    </div>

    <h2>ДЕТАЛИ ПРОВЕДЕНИЯ ИГР</h2>
    <div class="details-container">
        <div class="video-container">
            <lite-youtube videoid="xpIgD6HIgv4" playlabel="Play: Keynote (Google I/O '18)"></lite-youtube>
        </div>
        <div class="details-text-container">
        <div class="text-container">
            <h4>Meloman Quiz - это грандиозное путешествие в мир музыки, где ваше музыкальное знание подвергнется настоящему испытанию. Этот интеллектуальный музыкальный квиз - это не просто игра, это настоящий концерт музыкальных знаний, в котором каждый участник становится звездой собственного шоу.</h4>
        </div>
    </div>
    </div>

    <div class="rules">
      <img src="{{ url_for('static', filename='images/front/rule-1.webp') }}">
      <img src="{{ url_for('static', filename='images/front/rule-2.webp') }}">
      <img src="{{ url_for('static', filename='images/front/rule-3.webp') }}">
    </div>


    <div class="text-rules">
      <div class="galochka">
          <img src="{{ url_for('static', filename='images/front/icon4.webp') }}">
          <div class="text-rules-container">
            <h3>Мировой хит-парад</h3>
            <p>Погрузитесь в удивительный мир музыки, исследуя самые разнообразные жанры и эпохи. Meloman Quiz предлагает вам уникальную возможность узнать о музыке больше, чем вы могли себе представить.</p>
          </div>
        </div>
      <div class="galochka">
        <img src="{{ url_for('static', filename='images/front/icon3.webp') }}">
        <div class="text-rules-container">
          <h3>Интеллектуальные баттлы</h3>
          <p>Соревнуйтесь с друзьями и другими меломанами в увлекательных музыкальных баттлах. Кто быстрее угадает исполнителя или название песни? Пусть ваше музыкальное чутье покажет ваше превосходство.</p>
        </div>
      </div>
        <div class="galochka">
        <img src="{{ url_for('static', filename='images/front/icon2.webp') }}">
        <div class="text-rules-container">
          <h3>Подарки и награды</h3>
          <p>За каждый правильный ответ вы получаете баллы и награды. Стремитесь к вершине рейтинга и станьте королем Meloman Quiz!</p>
        </div>
      </div>
        <div class="galochka">
        <img src="{{ url_for('static', filename='images/front/icon1.webp') }}">
        <div class="text-rules-container">
          <h3>Персональная адаптация</h3>
          <p>Meloman Quiz адаптируется под ваш вкус и уровень знаний, так что и новички, и опытные меломаны найдут в этой игре вызов.</p>
        </div>
      </div>
    </div>

    <div class="photos-container">
      <h2>ФОТООТЧЁТЫ С ИГР</h2>
      <div class="last-photos">
          {% for i in range(last_photos|length) %}
            <div class="card" style="width: 18rem;">
              <img src="data:image/jpeg;base64,{{ last_photos[i][3] | safe }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ last_photos[i][1] }}</h5>
                <p class="card-text">ДАТА: {{ last_photos[i][4].strftime('%d.%m.%Y') }}</p>
                <p class="card-text">МЕСТО: {{ last_photos[i][5] }}</p>
                <a href="{{ last_photos[i][2] }}" class="watch-photo-btn btn btn-primary">ДАЛЕЕ</a>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>


    <div class="container">
      <div class="order-container">
        <div class="buttons">
          <a href="https://wa.me/77755603383?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%AF%20%D0%B1%D1%8B%20%D1%85%D0%BE%D1%82%D0%B5%D0%BB%20%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C%20%D0%BA%D0%BE%D1%80%D0%BF%D0%BE%D1%80%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D0%BE%D0%B5%20%D0%BC%D0%B5%D1%80%D0%BE%D0%BF%D1%80%D0%B8%D1%8F%D1%82%D0%B8%D0%B5!"><button class="order-btn">ЗАКАЗАТЬ КОРПОРАТИВНОЕ МЕРОПРИЯТИЕ</button></a>
          <a href="https://wa.me/77755603383?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%AF%20%D0%B1%D1%8B%20%D1%85%D0%BE%D1%82%D0%B5%D0%BB%20%D0%BA%D1%83%D0%BF%D0%B8%D1%82%D1%8C%20%D1%84%D1%80%D0%B0%D0%BD%D1%88%D0%B8%D0%B7%D1%83%20Meloman%20Quiz!"><button class="order-btn">ЗАКАЗАТЬ ФРАНШИЗУ</button></a>
        </div>
        <div class="music-key">
          <img src="{{ url_for('static', filename='images/front/music-key.webp') }}">
        </div>
      </div>
    </div>

    <footer id="nav-footer" class="page-footer">
      <div class="container footer-container">
        <div class="logo-footer">
          <a href="#"><img src="{{ url_for('static', filename='images/front/logo-footer.webp') }}" class="logo-footer"></a>
        </div>
        <div class="socials">
          <a href="https://instagram.com/meloman_quiz_astana?igshid=MWZjMTM2ODFkZg=="><img src="{{ url_for('static', filename='images/front/Instagram.webp') }}" class="instagram-footer"></a>
          <a href="https://www.tiktok.com/@meloman_quiz_astana?_t=8fCOLRlSvwc&_r=1"><img src="{{ url_for('static', filename='images/front/tik-tok.webp') }}" class="tik-tok-footer"></a>
          <a href="https://youtube.com/@meloman_quiz_astana?si=Ep-C_JwnjjTW7qB1"><img src="{{ url_for('static', filename='images/front/youtube.webp') }}" class="youtube-footer"></a>
        </div>
        <div class="numbers">
          <a href="tel:+7 775 560 3383"><h5>+7 775 560 3383</h5></a>
        </div>
      </div>
    </footer>
    

    <!-- Вариант 1: Bootstrap в связке с Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" async></script>
    <!-- Подключение вашего JavaScript файла -->
    <script src="{{ url_for('static', filename='js/city-selector.js') }}"></script>
    <script>
    window.onload = function () {
        document.body.classList.add('loaded_hiding');
        window.setTimeout(function () {
            document.body.classList.add('loaded');
            document.body.classList.remove('loaded_hiding');
        }, 500);
    }
    </script>
  </body>
</html>