<!doctype html>
<html lang="ru">
  <head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/shedule.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Meloman Quiz</title>
    <link rel="shortcut icon" href="../assets/img/diskOption1.png">
  </head>

  <body>

    <div class="intro">
      <header class="header">
        <div class="city-selector" type="button" data-bs-toggle="modal" data-bs-target="#cityModal">
          <img src="../assets/img/location.png">
          <h2 id="cityHeader">Город</h2>
          <div class="modal fade" id="cityModal" tabindex="-1" aria-labelledby="cityModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="cityModalLabel">Выберите город</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                  <!-- Здесь вы можете добавить форму или список городов для выбора -->
                  <ul>
                    <li><a href="#" onclick="selectCity('Астана')">Астана</a></li>
                    <li><a href="#" onclick="selectCity('Петропавловск')">Петропавловск</a></li>
                    <li><a href="#">Киев</a></li>
                    <!-- Добавьте свои города здесь -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="index.html">
            <img src="/assets/img/logo 2.png" alt="" class="logo-header">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-auto" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="shedule.html">Расписание</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="photos.html">Фотоотчёты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="events.html">Мероприятия</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="table.html">Таблица</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shop.html">Каталог</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Контакты </a>
              </li>
            </ul>
          </div>
      </nav>
      </header>
      <div class="title">
        <h1>MELOMAN QUIZ</h1>
      </div>
    </div>

    <div class="container main-shedule-container">
        <button class="menu-button">Фильтры</button>
        <div class="filters">
            <div class="filter-menu">
                <div class="all-game-filter">
                    <label class="filter">
                        <input type="radio" id="all-games" checked="checked" name="all-games">
                        <span class="checkbox-custom"></span>
                        <div class="name">
                            Все игры
                        </div>
                    </label>
                    <label class="filter">
                        <input type="radio" id="allowed" name="all-games">
                        <span class="checkbox-custom"></span>
                        <div class="name">
                            Есть места
                        </div>
                    </label>
                </div>
                <div class="game-types">
                    <label class="filter">
                        <input type="radio" id="all" checked="checked" name="game-types">
                        <span class="checkbox-custom"></span>
                        <div class="name">
                            Все типы
                        </div>
                    </label>
                    <label class="filter">
                        <input type="radio" id="hip-hop" name="game-types">
                        <span class="checkbox-custom"></span>
                        <div class="name">
                            Hip-Hop
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="games">
            <div class="game">
                <div class="game-background">
                    <div class="game-preview">
                        <img src="../assets/img/photo.png">
                    </div>
                    <div class="description">
                        <div class="details">
                            <p>24 АВГУСТА</p>
                            <p class="price">2500 ТГ</p>
                        </div>
                        <h4>НАЗВАНИЕ</h4>
                        <div class="loc">
                            <img src="../assets/img/home.png">
                            <div class="txt-container">
                                <h5>BAR GARAGE</h5>
                                <p>Кравцова 5</p>
                            </div>
                        </div>
                        <div class="time">
                            <img src="../assets/img/calendar.png">
                            <div class="txt-container">
                                <p>16:00</p>
                            </div>
                        </div>
                        <div class="sign-up">
                            <button class="sign-btn">ЗАПИСАТЬСЯ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game">
                <div class="game-background">
                    <div class="game-preview">
                        <img src="../assets/img/photo.png">
                    </div>
                    <div class="description">
                        <div class="details">
                            <p>24 АВГУСТА</p>
                            <p class="price">2500 ТГ</p>
                        </div>
                        <h4>НАЗВАНИЕ</h4>
                        <div class="loc">
                            <img src="../assets/img/home.png">
                            <div class="txt-container">
                                <h5>BAR GARAGE</h5>
                                <p>Кравцова 5</p>
                            </div>
                        </div>
                        <div class="time">
                            <img src="../assets/img/calendar.png">
                            <div class="txt-container">
                                <p>16:00</p>
                            </div>
                        </div>
                        <div class="sign-up">
                            <button class="sign-btn">ЗАПИСАТЬСЯ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game">
                <div class="game-background">
                    <div class="game-preview">
                        <img src="../assets/img/photo.png">
                    </div>
                    <div class="description">
                        <div class="details">
                            <p>24 АВГУСТА</p>
                            <p class="price">2500 ТГ</p>
                        </div>
                        <h4>НАЗВАНИЕ</h4>
                        <div class="loc">
                            <img src="../assets/img/home.png">
                            <div class="txt-container">
                                <h5>BAR GARAGE</h5>
                                <p>Кравцова 5</p>
                            </div>
                        </div>
                        <div class="time">
                            <img src="../assets/img/calendar.png">
                            <div class="txt-container">
                                <p>16:00</p>
                            </div>
                        </div>
                        <div class="sign-up">
                            <button class="sign-btn">ЗАПИСАТЬСЯ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="nav-footer" class="page-footer">
        <div class="container footer-container">
          <div class="logo-footer">
            <a href="#"><img src="../assets/img/logo-footer.svg" class="logo-footer"></a>
          </div>
          <div class="socials">
            <a href="https://instagram.com/meloman_quiz_astana?igshid=MWZjMTM2ODFkZg=="><img src="../assets/img/Instagram.png" class="instagram-footer"></a>
          <a href="https://www.tiktok.com/@meloman_quiz_astana?_t=8fCOLRlSvwc&_r=1"><img src="../assets/img/tik-tok.png" class="tik-tok-footer"></a>
          <a href="https://youtube.com/@meloman_quiz_astana?si=Ep-C_JwnjjTW7qB1"><img src="../assets/img/нщгегиу.png" class="youtube-footer"></a>
          </div>
          <div class="numbers">
            <a href="tel:+7 775 560 3383"><h5>+7 775 560 3383</h5></a>
          </div>
        </div>
      </footer>

    <!-- Вариант 1: Bootstrap в связке с Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Подключение вашего JavaScript файла -->
    <script src="../assets/js/city-selector.js"></script>
    <script src="../assets/js/filters.js"></script>
  </body>

</html>
