<!doctype html>
<html lang="ru">
  <head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/shedule.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/front/preloader.css') }}">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Meloman Quiz</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/front/diskOption1.png') }}">
  </head>

  <body>
    <div class="preloader">
        <img src="{{ url_for('static', filename="images/front/music_record.png") }}" class="preloader__image">
    </div>

    <div class="intro">
      <header class="header">
        <div class="city-selector" type="button" data-bs-toggle="modal" data-bs-target="#cityModal">
          <img src="{{ url_for('static', filename='images/front/location.png') }}">
          <h2 id="cityHeader">Город</h2>
          <div class="modal fade" id="cityModal" tabindex="-1" aria-labelledby="cityModalLabel" aria-hidden="true">
              <input type="hidden" id="currentPage" value="shedule">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="cityModalLabel">Выберите город</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                  <!-- Здесь вы можете добавить форму или список городов для выбора -->
                  <ul>
                    {% for i in range(cityNames|length) %}
                      <li><a href="#" onclick="selectCity('{{ cityNames[i] }}')">{{ cityNames[i] }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="index.html">
            <img src="{{ url_for('static', filename='images/front/logo-2.png') }}" alt="" class="logo-header">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-auto" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="shedule">Расписание</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="photos">Фотоотчёты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="events">Мероприятия</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="table">Таблица</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shop">Каталог</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacts">Контакты </a>
              </li>
            </ul>
          </div>
      </nav>
      </header>
      <div class="title">
        <h1>MELOMAN QUIZ</h1>
      </div>
    </div>

    <div class="container main-shedule-container">
        <button class="menu-button">Фильтры</button>
        <div class="filters">
            <div class="filter-menu">
                <div class="game-types">
                    <label class="filter">
                        <input type="radio" id="all" checked="checked" name="game-types" value="all">
                        <span class="checkbox-custom"></span>
                        <div class="name">
                            Все типы
                        </div>
                    </label>
                    {% for i in range(game_types|length) %}
                    <label class="filter">
                        <input type="radio" id="{{ game_types[i][1] }}" name="game-types" value="{{ game_types[i][1] }}">
                        <span class="checkbox-custom"></span>
                        <div class="name">
                            {{ game_types[i][1] }}
                        </div>
                    </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="games">
            {% for i in range(selected_games|length) %}
            <div class="game">
                <div class="game-background">
                    <div class="game-preview">
                        <img src="data:image/jpeg;base64,{{ selected_games[i][11] | safe }}">
                    </div>
                    <div class="description">
                        <div class="details">
                            <p>{{ selected_games[i][4].strftime('%d %B') }}</p>
                            <p class="price">{{ selected_games[i][10] }} ТГ</p>
                        </div>
                        <h4>{{ selected_games[i][1] }}</h4>
                        <div class="loc">
                            <img src="{{ url_for('static', filename='images/front/home.png') }}">
                            <div class="txt-container">
                                <h5>{{ selected_games[i][6] }}</h5>
                            </div>
                        </div>
                        <div class="time">
                            <img src="{{ url_for('static', filename='images/front/calendar.png') }}">
                            <div class="txt-container">
                                <p>{{ selected_games[i][4].strftime('%H:%M') }}</p>
                            </div>
                        </div>
                        <div class="sign-up">
                            <a href="https://wa.me/{{ selected_games[i][9][1:] }}?text=Здравствуйте, я хотел бы записаться на игру {{ selected_games[i][1] }}, которая будет проходить {{ selected_games[i][4] }}"><button class="sign-btn">ЗАПИСАТЬСЯ</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <footer id="nav-footer" class="page-footer">
      <div class="container footer-container">
        <div class="logo-footer">
          <a href="#"><img src="{{ url_for('static', filename='images/front/logo-footer.png') }}" class="logo-footer"></a>
        </div>
        <div class="socials">
          <a href="https://instagram.com/meloman_quiz_astana?igshid=MWZjMTM2ODFkZg=="><img src="{{ url_for('static', filename='images/front/Instagram.png') }}" class="instagram-footer"></a>
          <a href="https://www.tiktok.com/@meloman_quiz_astana?_t=8fCOLRlSvwc&_r=1"><img src="{{ url_for('static', filename='images/front/tik-tok.png') }}" class="tik-tok-footer"></a>
          <a href="https://youtube.com/@meloman_quiz_astana?si=Ep-C_JwnjjTW7qB1"><img src="{{ url_for('static', filename='images/front/youtube.png') }}" class="youtube-footer"></a>
        </div>
        <div class="numbers">
          <a href="tel:+7 775 560 3383"><h5>+7 775 560 3383</h5></a>
        </div>
      </div>
    </footer>

    <!-- Вариант 1: Bootstrap в связке с Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Подключение вашего JavaScript файла -->
    <script src="{{ url_for('static', filename='js/city-selector.js') }}"></script>
    <script src="{{ url_for('static', filename='js/filters.js') }}"></script>
    <script>
    window.onload = function () {
        document.body.classList.add('loaded_hiding');
        window.setTimeout(function () {
            document.body.classList.add('loaded');
            document.body.classList.remove('loaded_hiding');
        }, 500);
    }
    </script>
  </body>

</html>
