<!doctype html>
<html lang="ru">
  <head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/table.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Meloman Quiz</title>
  </head>

  <body>

    <div class="intro">
      <header class="header">
        <div class="city-selector" type="button" data-bs-toggle="modal" data-bs-target="#cityModal">
          <img src="../assets/img/location.png">
          <h2 id="cityHeader">Город</h2>
          <div class="modal fade" id="cityModal" tabindex="-1" aria-labelledby="cityModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="cityModalLabel">Выберите город</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                  <!-- Здесь вы можете добавить форму или список городов для выбора -->
                  <ul>
                    <li><a href="#" onclick="selectCity('Астана')">Астана</a></li>
                    <li><a href="#" onclick="selectCity('Петропавловск')">Петропавловск</a></li>
                    <li><a href="#">Киев</a></li>
                    <!-- Добавьте свои города здесь -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
          <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="index.html">
                  <img src="/assets/img/logo 2.png" alt="" class="logo-header">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ms-auto" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link"  href="index.html">Главная</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="shedule.html">Расписание</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Фотоотчёты</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Мероприятия</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Контакты </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="table.html">Таблица </a>
                    </li>
                  </ul>
                </div>
            </nav>
      </header>
      <div class="title">
        <h1>MELOMAN QUIZ</h1>
      </div>
    </div>

    <div class="raiting-description">
        <h2>Рейтинг команд</h2>
        <p>Данный рейтинг основан на истории ваших игр,
            количестве положительных и отрицательных результатах. Другими словами: 
            самый показательный пример ваших музыкальных познаний 
            в сравнении с остальными участниками нашего проекта.</p>
    </div>

    <div class="top-comands-container">
        <div class="top-comand">
            <div class="name-place-container">
                <h5>Название команды</h5>
                <div class="place">
                    <img src="../assets/img/record.png">
                    <h4>1</h4>
                </div>
            </div>
            <div class="score">
                <h5>6000 баллов</h5>
            </div>
        </div>
        <div class="top-comand">
            <div class="name-place-container">
                <h5>Название команды</h5>
                <div class="place">
                    <img src="../assets/img/record.png">
                    <h4>1</h4>
                </div>
            </div>
            <div class="score">
                <h5>6000 баллов</h5>
            </div>
        </div>
    </div>

    <form class="search-form">
        <input type="search" value="" placeholder="Поиск команды" class="search-input">
        <div class="search-button">
          <img src="../assets/img/search.svg">
        </div>
    </form>

    <div class="show-buttons">
      <button class="btn-game">За игру</button>
      <button class="btn-season">За сезон</button>
    </div>

    <div class="table">
      <table class="table-header">
        <thead>
          <tr>
            <th>№</th>
            <th>Название</th>
            <th>Игры</th>
            <th>Баллы</th>
            <th>Ранг</th>
          </tr>
        </thead>
      </table>
      <table class="game-table">
        <thead>
          <tr>
            <th id="number">№</th>
            <th id="team-name">Название Команды</th>
            <th id="games-quant">№</th>
            <th id="score" >№</th>
            <th id="rang">№</th>
          </tr>
          <tr>
            <th id="number">№</th>
            <th id="team-name">Название Команды</th>
            <th id="games-quant">№</th>
            <th id="score" >№</th>
            <th id="rang">№</th>
          </tr>
        </thead>
      </table>
    </div>
    <footer id="nav-footer" class="page-footer">
        <div class="container footer-container">
          <div class="logo-footer">
            <a href="#"><img src="../assets/img/logo-footer.svg" class="logo-footer"></a>
          </div>
          <div class="socials">
            <img src="../assets/img/Instagram.png" class="instagram-footer">
            <img src="../assets/img/Instagram.png" class="tik-tok-footer">
            <img src="../assets/img/Instagram.png" class="youtube-footer">
          </div>
          <div class="numbers">
            <a href="tel:+7 775 560 3383"><h5>+7 775 560 3383</h5></a>
          </div>
        </div>
      </footer>


      <script src="../assets/js/city-selector.js"></script>
  </body>
</html>