<!doctype html>
<html lang="ru">
  <head>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TJ8F41HRV"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-9TJ8F41HRV');
        </script>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="robots" content="index, contacts, events, photos, shedule, shop, table" />
      <meta name="keywords" content="Первый Музыкальный Квиз, Казахстан, Франшиза Meloman Quiz, интеллектуальная игра, музыкальные знания, квиз в Астане, Караганде, Петропавловске, таблица, Результаты игры, сезонная таблица, рейтинг команд, Топ команд, Результаты соревнования, Места и баллы участников" />
      <meta name="description" content="Просматривайте результаты игры и сезонные таблицы в Meloman Quiz. Узнайте, какие команды заняли верхние места, сравнивайте свои достижения и следите за ходом соревнования в нашей музыкальной интеллектуальной игре." />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/table.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/front/preloader.css') }}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Турнирная таблица</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/front/diskOption1.webp') }}">
      <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(94822469, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/94822469" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  </head>

  <body>

    <div class="preloader">
        <img src="{{ url_for('static', filename="images/front/music_record.webp") }}" class="preloader__image">
    </div>

    <div class="intro">
      <header class="header">
        <div class="city-selector" type="button" data-bs-toggle="modal" data-bs-target="#cityModal">
          <img src="{{ url_for('static', filename='images/front/location.webp') }}">
          <h2 id="cityHeader">Город</h2>
          <div class="modal fade" id="cityModal" tabindex="-1" aria-labelledby="cityModalLabel" aria-hidden="true">
            <input type="hidden" id="currentPage" value="table">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="cityModalLabel">Выберите город</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                  <!-- Здесь вы можете добавить форму или список городов для выбора -->
                  <ul>
                      {% for i in range(cityNames|length) %}
                      <li><a href="#" onclick="selectCity('{{ cityNames[i] }}')">{{ cityNames[i] }}</a></li>
                    {% endfor %}
                    <!-- Добавьте свои города здесь -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="index.html">
            <img src="{{ url_for('static', filename='images/front/logo-2.webp') }}" alt="" class="logo-header">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-auto" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link"  href="index{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shedule{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Расписание</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="photos{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Фотоотчёты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="events{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Мероприятия</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="table{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Таблица</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shop{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Каталог</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacts{% if selected_city != '' %}?selectedCity={{ selected_city }} {% endif %}">Контакты </a>
              </li>
            </ul>
          </div>
      </nav>
      </header>
      <div class="title">
        <h1>MELOMAN QUIZ</h1>
      </div>
    </div>

    <div class="raiting-description">
        <h2>Рейтинг команд</h2>
        <p>Соревнование за первое, второе и третье место превращается в настоящий симфонический балет музыкальных умений. Каждый ответ – это нота, каждый вопрос – это аккорд, а победа – это гармония.</p>
    </div>

    <div class="top-comands-container">
      <div id="ComandCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for key, values in comands_score.items() %}
                  {% if loop.index <= 3 %}
          <div class="carousel-item {% if loop.index == 1 %}active{% endif %} ">
            <div class="top-comand d-flex">
                <div class="name-place-container">
                    <h5>{{ key }}</h5>
                    <div class="place">
                        <img src="{{ url_for('static', filename='images/front/record.webp') }}">
                        <h4>{{ loop.index }}</h4>
                    </div>
                </div>
                <div class="score">
                    <h5>{{ values }} баллов</h5>
                </div>
            </div>
          </div>
                          {% endif %}
              {% endfor %}
          <a class="carousel-control-prev" href="#ComandCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#ComandCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
        </div>
      </div>
    </div>

    <form class="search-form">
        <input type="search" value="" placeholder="Поиск команды" class="search-input">
        <div class="search-button">
          <img src="{{ url_for('static', filename='images/front/search.svg') }}">
        </div>
    </form>

    <div class="show-buttons">
      <label for="game" class="game-label-button">За игру</label>
      <label for="season" class="season-label-button">За Сезон</label>
      <input type="radio" id="game" name="table-status">
      <span class="game-btn"></span>
      <input type="radio" id="season" checked="checked" name="table-status">
      <span class="season-btn"></span>

    </div>
    <div class="dropdown">
        <button class="dropbtn" id="game-selector">{{ selected_game }}</button>
          <div class="dropdown-content">
              {% for key in game_names.keys() %}
            <a href="#" onclick="selectGame('{{ key }}')">{{ key }}</a>
              {% endfor %}
          </div>
      </div>

    <div class="table table-responsive">
      <table class="season-table">
        <thead>
          <tr>
            <th>№</th>
            <th>Название</th>
            <th>Игры</th>
            <th>Средний балл</th>
            <th>Баллы</th>
          </tr>
        </thead>
        <tbody>
        {% for key, value in comands_score.items() %}
          <tr class="team-row">
            <td>{{ loop.index }}</td>
            <td class="team-name">{{ key }}</td>
            <td>{{ game_counter.get(key) }}</td>
            <td>{{ '%0.2f' | format(value / game_counter.get(key)| float) }}</td>
            <td>{{ value }}</td>
          </tr>
        {%  endfor  %}
        </tbody>
      </table>

      <table class="game-table">
        <thead>
          <tr>
            <th>№</th>
            <th>Название</th>
              {%  for i in range(round_counter) %}
            <th>{{ i + 1 }}</th>
              {% endfor %}
            <th>Всего</th>
          </tr>
        </thead>
        <tbody>
        {% for key, value in game_result.items() %}
          <tr class="team-row">
            <td>{{ loop.index }}</td>
            <td class="team-name">{{ key }}</td>
              {% for round in game_result.get(key).get('items') %}
                <td>{{ round[3] }}</td>
              {% endfor %}
            <td>{{ game_result.get(key).get('total')|int }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <footer id="nav-footer" class="page-footer">
      <div class="container footer-container">
        <div class="logo-footer">
          <a href="#"><img src="{{ url_for('static', filename='images/front/logo-footer.webp') }}" class="logo-footer"></a>
        </div>
        <div class="socials">
          <a href="https://instagram.com/meloman_quiz_astana?igshid=MWZjMTM2ODFkZg=="><img src="{{ url_for('static', filename='images/front/Instagram.webp') }}" class="instagram-footer"></a>
          <a href="https://www.tiktok.com/@meloman_quiz_astana?_t=8fCOLRlSvwc&_r=1"><img src="{{ url_for('static', filename='images/front/tik-tok.webp') }}" class="tik-tok-footer"></a>
          <a href="https://youtube.com/@meloman_quiz_astana?si=Ep-C_JwnjjTW7qB1"><img src="{{ url_for('static', filename='images/front/youtube.webp') }}" class="youtube-footer"></a>
            <a href="https://t.me/melomanquizastana"><img src="{{ url_for('static', filename='images/front/telegram.webp') }}"> </a>
        </div>
        <div class="numbers">
          <a href="tel:+7 775 560 3383"><h5>+7 775 560 3383</h5></a>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/city-selector.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table-selector.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game-selector.js') }}"></script>
    <script src="{{ url_for('static', filename='js/team-finder.js') }}"></script>
    <script>
            $(document).ready(function(){
            $('#ComandCarousel').carousel();
            });
    </script>
  <script>
    window.onload = function () {
        document.body.classList.add('loaded_hiding');
        window.setTimeout(function () {
            document.body.classList.add('loaded');
            document.body.classList.remove('loaded_hiding');
        }, 500);
    }
    </script>
    </body>
</html>